#about_us li {
    margin: 10px;
}

#about_us p,
#about_us ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

#about_us p {
    color: rgba(0,0,0,0.87);
}

h2 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
}