#download {
    margin-top: 20px;
}

.row .col h4 {
    text-align: center;
}

#cards_block h4{
    margin-bottom: 25px;
}
.app-logo {
    width: 100px;
    height: 100px;
}
.bounceEffect{
    text-align: left;
}