h4 {
    font-size: 24px;
    text-align: center;
}
.img.responsive-img {
    text-align: center;
}

#about_app {
    margin-top: 40px;
    margin-bottom: 20px;
}

#document {
    margin-bottom: 50px;
}

#app_block h4 {
    margin-bottom: 30px;
}

#news_block h4 {
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
    line-height: 110%;
    margin: 0.9rem 0 0.5rem 0;
}

h3 {
    font-size: 1.2rem;
    margin: 1.46rem 0 1.168rem 0;
}