.parallax-container {
    position: relative;
    overflow: hidden;
    height: 280px;
}

nav {
    color: #fff;
    background-color: #128a6d;
    width: 100%;
    line-height: 56px;
}

nav#breadcrumbs {
    color: #fff;
    background-color: transparent;
    width: 100%;
    line-height: 56px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
}

#index-banner {
    color: #fff;
}

.brand-logo {
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 2.56rem;
    line-height: 110%;
    margin: 1.78rem 0 2.5rem 0;
}

h3 {
    font-size: 2rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
@media (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 2.2rem;
        line-height: 110%;
        margin: 2.1rem 0 1.68rem 0;
    }

    h2 {
        font-size: 2.05rem;
        line-height: 110%;
        margin: 1.78rem 0 1.424rem 0;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0;
    }

    .brand-logo {
        text-align: center;
    }
}
h6 {
    font-weight: bold;
    color: #5a5a5a;
}
* {
    margin: 0;
    padding: 0;
}
#wrapper {
    min-height: calc(100vh - 220px);
}
.section {
    margin-top: 20px;
}
.input-field input[type=text] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}
.input-field input[type=text]:focus {
    background-color:#fff;
    border:0;
    box-shadow:none;
    color:#444
}
input[type="text"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
.autocomplete-content {
    margin-top: -15px;
    display: block;
    opacity: 1;
    position: relative;
}
#search-results li:hover {
    background-color: lightcyan;
}
input[type="text"] {
    background-color: white;
    color: black;
}
.fa.fa-mobile {
    padding-left: 5px;
}
#bad_url ul li{
    list-style-type: circle;
    /*line-height: 20px;*/
}
.breadcrumb:last-child {
    color: rgba(255,255,255,0.7);
}
p{
    text-align: justify;
}