#additive_show p {
    margin-bottom: 20px;
}

#additive_show h2 {
    font-weight: bold;
    color: #5a5a5a;
}

#additive_show h2 {
    font-size: 1rem;
    line-height: 110%;
    margin: .5rem 0 .4rem 0;
}

#additive_show .btn i {
    font-size: 0.9rem;
    line-height: inherit;
}