#additive_list .collapsible-body a {
    color: rgba(0,0,0,0.87);
}

.collapsible-body div.additive:nth-of-type(even) {
    background: #e0e0e0;
}

.row.additive:hover{
    background-color: lightcyan;
}
